<h1> Create and new Company </h1>
<%= form_for @company do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :catch_phrase %>
<%= f.text_field :catch_phrase %>

<%= f.label :suffix %>
<%= f.text_field :suffix %>

<%= f.submit %>

<% end %>
